/*
 * This is a manifest file that'll be compiled into application.css
 *
 *= require_tree .
 *= require_self
 */

/* Shimmer animation for progress bars */
@keyframes shimmer {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(100%);
  }
}

.animate-shimmer {
  animation: shimmer 2s infinite;
}